<nav class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/order/lunch">今日午餐订单</a></li>
          <li class="active"><a href="/order/history">历史订餐</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</nav>

<% @orders.each_with_index do |date_order, di| %>
    <div class="row">
      <div class="panel panel-primary">
        <div style="cursor: pointer" data-toggle="collapse" href="#date<%= di %>" aria-expanded="false" aria-controls="date<%= di %>" class="panel-heading"><%= date_order[0] %></div>
      </div>
      <div class="collapse well" id="date<%= di %>" style="padding: 5px;">
        <% date_order[1].each_with_index do |location_order, li| %>
            <div class="panel panel-default">
              <div class="panel-heading"><%= location_order[0] %></div>
              <div class="list-group">
                <% location_order[1].each_with_index do |item_order, ii| %>
                    <a data-toggle="collapse" href="#detail<%= di %><%= li %><%= ii %>" aria-expanded="false" aria-controls="detail<%= di %><%= li %><%= ii %>" class="list-group-item"><%= item_order[0] %>
                      <span class="badge"><%=count_total(item_order[1])%></span></a>

                    <div class="collapse well" id="detail<%= di %><%= li %><%= ii %>" style="padding: 5px;">
                      <ul class="list-group">
                        <% item_order[1].each_with_index do |order, o| %>
                            <li href="#" class="list-group-item text-primary">
                              <label><%= order.number %></label><span class="badge">预定时间: <%= order.created_at %></span><span class="badge">x <%=order.amount%></span>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>




