<nav class="row">
  <nav class="navbar navbar-default " style="margin-bottom: 0px;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<p class="navbar-text">欢迎来到订餐管理界面</p>-->

        <p class="navbar-text">欢迎来到订餐管理界面 | 下次送餐时间: 21st April 2015 12:30AM
          <!--<a class="navbar-link active" id="datetimepicker" href="#"><label style="cursor: pointer;">修改</label></a>-->
          <button type="submit" class="btn btn-primary">修改</button>
        </p>
      </div>

    </div>
    <!-- /.container-fluid -->

    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/order/lunch">今日午餐订单</a></li>
          <li><a href="/order/history">历史订餐</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->

  </nav>


</nav>


<div class="row">

  <% @orders.each_with_index do |location, i| %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= location[0] %></div>
        <div class="list-group">
          <% location[1].each_with_index do |item, index| %>
              <a data-toggle="collapse" href="#detail<%= i %><%= index %>" aria-expanded="false" aria-controls="detail<%= i %><%= index %>" class="list-group-item"><%= get_item_name(item[0]) %>
                <span class="badge"><%=count_total(item[1])%></span></a>

              <div class="collapse well" id="detail<%= i %><%= index %>" style="padding: 5px;">
                <ul class="list-group">
                  <% item[1].each do |order| %>
                      <li href="#" class="list-group-item text-primary">
                        <label><%= order.number %></label><span class="badge">预定时间: <%= order.created_at %></span><span class="badge">x <%=order.amount%></span>
                      </li>
                  <% end %>
                </ul>
              </div>
          <% end %>


        </div>
      </div>
  <% end %>
</div>
