<nav class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="navbar-text navbar-left">
          <button type="submit" class="btn btn-default">返回</button>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</nav>


<div class="row">

  <%= form_for @order, url: {action: "create"}, :html => {:class => 'form-horizontal'} do |order_form| %>
      <div class="form-group">
        <label for="name_cn" class="col-sm-2 control-label">User Id</label>

        <div class="col-sm-10">
          <%= order_form.text_field :user_id, :class => "form-control", :placeholder => "user id" %>
        </div>
      </div>
      <div class="form-group">
        <label for="name_cn" class="col-sm-2 control-label">菜品</label>

        <div class="col-sm-10">
          <%= order_form.select :item_id, @items.collect { |item| [item.name_cn, item.id] }, {:prompt => false}, {:class => 'form-control', :required => true} %>
        </div>
      </div>
      <div class="form-group">
        <label for="name_cn" class="col-sm-2 control-label">餐类</label>

        <div class="col-sm-10">
          <%= order_form.select :order_type, {"A 套餐" => "1", "B 套餐" => "2"}, {:prompt => false}, {:class => 'form-control', :required => true} %>
        </div>
      </div>
      <div class="form-group">
        <label for="name_cn" class="col-sm-2 control-label">数量</label>

        <div class="col-sm-10">
          <%= order_form.text_field :amount, :class => "form-control", :placeholder => "输入数量" %>
        </div>
      </div>
      <div class="form-group">
        <label for="name_cn" class="col-sm-2 control-label">日期(yyyy/mm/dd)</label>

        <div class="col-sm-10">
          <%= order_form.text_field :order_date_time, :class => "form-control", :placeholder => "输入日期" %>
        </div>
      </div>
      <div class="form-group">
        <label for="name_cn" class="col-sm-2 control-label">地址</label>

        <div class="col-sm-10">
          <%= order_form.select :location_id, Location.all.collect { |location| [location.name, location.id] }, {:prompt => false}, {:class => 'form-control', :required => true} %>
        </div>
      </div>
      <div class="form-group">
        <label for="name_cn" class="col-sm-2 control-label">午饭餐</label>

        <div class="col-sm-10">
          <%= order_form.select :period, {"午餐" => "1", "晚餐" => "2"}, {:prompt => false}, {:class => 'form-control', :required => true} %>
        </div>
      </div>
      <div class="form-group">
        <label for="name_cn" class="col-sm-2 control-label"></label>

        <div class="col-sm-10">
          <%= order_form.submit "保存", :class => "btn btn-primary" %>
        </div>
      </div>
  <% end %>
</div>
